# 01 Data Cleaning

Importing libraries.

In [1]:
import pandas as pd

Reading dataset file\
 \
raw_data will be stored as data, after changes, dataset will be called data_clean in this notebook.

In [2]:
raw_data = pd.read_csv('../01_data/raw_data.csv')

In [3]:
pd.set_option('display.max_columns', None)
raw_data.head()

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,SOY_ALG_START,SOY_ALG_END,EGG_ALG_START,EGG_ALG_END,WHEAT_ALG_START,WHEAT_ALG_END,PEANUT_ALG_START,PEANUT_ALG_END,SESAME_ALG_START,SESAME_ALG_END,TREENUT_ALG_START,TREENUT_ALG_END,WALNUT_ALG_START,WALNUT_ALG_END,PECAN_ALG_START,PECAN_ALG_END,PISTACH_ALG_START,PISTACH_ALG_END,ALMOND_ALG_START,ALMOND_ALG_END,BRAZIL_ALG_START,BRAZIL_ALG_END,HAZELNUT_ALG_START,HAZELNUT_ALG_END,CASHEW_ALG_START,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Standardizing column names.

In [4]:
%%writefile -a functions.py

import pandas as pd

def std_column_name(df):
    '''function that lower cases and removes redundant words of column names'''
    
    df_copy = df.copy()
    col = list(df.columns)
    new_col = []
    
    for c in col:
        c = c.lower().replace('alg_','')
        new_col.append(c)
    df_copy.columns = new_col
    return df_copy

In [5]:
%run functions.py

In [6]:
data = std_column_name(raw_data)
data.head()

,subject_id,birth_year,gender_factor,race_factor,ethnicity_factor,payer_factor,atopic_march_cohort,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,treenut_start,treenut_end,walnut_start,walnut_end,pecan_start,pecan_end,pistach_start,pistach_end,almond_start,almond_end,brazil_start,brazil_end,hazelnut_start,hazelnut_end,cashew_start,cashew_end,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 \
 \
Dropping columns that will not be considered in this project:\
&nbsp; &nbsp; gender_factor\
&nbsp; &nbsp; race_factor\
&nbsp; &nbsp; ethnicity_factor\
&nbsp; &nbsp; payer_factor\
&nbsp; &nbsp; atopic_march_cohort: a closed birth cohort of 29,662 children followed continuously in our primary care practices from age < 30 days through their 5th birthday.

In [7]:
data = data.drop(['gender_factor','race_factor','ethnicity_factor','payer_factor','atopic_march_cohort'], axis=1)
data.columns

Index(['subject_id', 'birth_year', 'age_start_years', 'age_end_years',
       'shellfish_start', 'shellfish_end', 'fish_start', 'fish_end',
       'milk_start', 'milk_end', 'soy_start', 'soy_end', 'egg_start',
       'egg_end', 'wheat_start', 'wheat_end', 'peanut_start', 'peanut_end',
       'sesame_start', 'sesame_end', 'treenut_start', 'treenut_end',
       'walnut_start', 'walnut_end', 'pecan_start', 'pecan_end',
       'pistach_start', 'pistach_end', 'almond_start', 'almond_end',
       'brazil_start', 'brazil_end', 'hazelnut_start', 'hazelnut_end',
       'cashew_start', 'cashew_end', 'atopic_derm_start', 'atopic_derm_end',
       'allergic_rhinitis_start', 'allergic_rhinitis_end', 'asthma_start',
       'asthma_end', 'first_asthmarx', 'last_asthmarx', 'num_asthmarx'],
      dtype='object')

Checking data types.

In [8]:
data.dtypes

subject_id                   int64
birth_year                   int64
age_start_years            float64
age_end_years              float64
shellfish_start            float64
shellfish_end              float64
fish_start                 float64
fish_end                   float64
milk_start                 float64
milk_end                   float64
soy_start                  float64
soy_end                    float64
egg_start                  float64
egg_end                    float64
wheat_start                float64
wheat_end                  float64
peanut_start               float64
peanut_end                 float64
sesame_start               float64
sesame_end                 float64
treenut_start              float64
treenut_end                float64
walnut_start               float64
walnut_end                 float64
pecan_start                float64
pecan_end                  float64
pistach_start              float64
pistach_end                float64
almond_start               float64
almond_end                 float64
brazil_start               float64
brazil_end                 float64
hazelnut_start             float64
hazelnut_end               float64
cashew_start               float64
cashew_end                 float64
atopic_derm_start          float64
atopic_derm_end            float64
allergic_rhinitis_start    float64
allergic_rhinitis_end      float64
asthma_start               float64
asthma_end                 float64
first_asthmarx             float64
last_asthmarx              float64
num_asthmarx               float64
dtype: object

All according to expected, no need to convert data types.

In [9]:
data.describe()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,treenut_start,treenut_end,walnut_start,walnut_end,pecan_start,pecan_end,pistach_start,pistach_end,almond_start,almond_end,brazil_start,brazil_end,hazelnut_start,hazelnut_end,cashew_start,cashew_end,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
count,333200.000000,333200.000000,333200.000000,333200.000000,5246.000000,1051.000000,1796.000000,527.000000,7289.000000,4580.000000,2419.000000,1431.000000,6065.000000,3293.000000,1146.000000,688.000000,8653.000000,2092.000000,766.000000,178.000000,1.000000,0.0,704.000000,166.000000,285.000000,59.000000,369.000000,82.000000,386.000000,117.000000,68.000000,19.000000,253.000000,52.000000,561.000000,121.000000,49515.000000,41732.000000,55567.000000,25326.000000,63874.000000,25465.000000,117550.000000,117550.000000,117550.000000
mean,166600.500000,2001.261191,3.942140,10.336654,8.724076,6.431159,6.628690,5.337775,3.287408,2.473547,3.959135,2.712510,3.274626,3.029947,4.548648,3.654649,5.027637,4.400450,6.135395,5.114259,3.967146,NaN,7.595179,6.082366,7.744554,6.266152,7.148128,5.549724,7.678366,5.261775,6.831179,5.093699,7.876277,5.959933,6.190359,5.293306,4.282436,5.665702,7.275146,12.930347,5.979887,12.377142,6.439342,8.943442,5.298477
std,96186.699184,6.603479,4.646174,5.623426,5.273093,4.475387,5.015358,4.190826,4.098283,3.108223,4.485301,3.303140,3.754197,3.510486,4.560735,3.798813,4.392665,3.825992,4.172892,3.862956,NaN,NaN,4.847772,4.093921,4.732286,4.022013,4.334246,3.312276,5.330696,4.128617,4.832298,4.500702,4.631870,4.206699,4.347125,3.821768,4.683577,5.016386,4.190266,4.292382,4.390784,4.895197,4.863507,5.284163,6.486661
min,1.000000,1983.000000,-4.312115,1.002053,0.093087,0.169747,0.076660,0.076660,-60.112252,-4.008214,-2.264203,-2.264203,-98.866530,-98.866530,0.156057,0.243669,0.000000,0.021903,0.487337,0.487337,3.967146,NaN,0.336756,0.336756,0.914442,1.210130,0.692676,0.692676,0.303901,0.303901,1.133470,1.133470,0.774812,0.774812,0.112252,0.112252,-103.961670,0.013689,-95.238877,2.488706,1.002053,3.003422,1.002053,1.002053,1.000000
25%,83300.750000,1996.000000,0.021903,5.289528,3.975359,2.620123,2.235455,1.934292,0.747433,0.561259,0.809035,0.655715,1.051335,1.062286,1.079398,1.002053,1.574264,1.516085,2.765914,2.033539,3.967146,NaN,3.707734,2.762491,3.912389,2.677618,3.718001,2.923340,3.032170,2.198494,3.256674,1.826146,4.016427,2.669405,2.707734,2.335387,0.654346,1.448323,3.912389,9.591376,2.165640,8.139630,2.105407,4.298426,1.000000
50%,166600.500000,2002.000000,1.763176,10.193018,8.361396,5.305955,5.156742,3.939767,1.420945,1.200548,1.850787,1.264887,1.754962,1.785079,2.551677,1.868583,3.326489,2.980151,5.026694,4.015058,3.967146,NaN,6.328542,5.242984,6.472279,5.322382,6.064339,5.081451,6.197125,3.701574,5.244353,3.507187,6.811773,4.828200,4.985626,4.383299,2.255989,4.112252,6.721424,13.199179,4.807666,12.539357,5.023956,8.268309,3.000000
75%,249900.250000,2007.000000,7.208761,15.616701,13.078029,9.609856,10.251198,7.885010,4.295688,2.997947,5.761807,3.401780,4.090349,4.002738,6.737166,5.261465,7.241615,6.268994,8.802190,7.037645,3.967146,NaN,11.329227,8.765914,11.403149,9.277207,10.346338,7.545517,11.873374,6.806297,9.412731,5.842574,11.600274,7.778234,9.026694,7.227926,6.811773,8.926078,10.220397,16.579740,9.095140,16.843258,10.012320,13.341547,7.000000
max,333200.000000,2012.000000,17.984942,18.997947,24.298426,18.778919,22.499658,18.962355,25.431896,17.911020,24.216290,24.216290,22.160164,19.151266,22.839151,18.546201,21.524983,21.524983,22.721424,17.215606,3.967146,NaN,20.049281,17.451061,21.215606,15.383984,19.887748,15.033539,20.101300,16.542094,19.857632,18.108145,19.225188,16.678987,23.679671,17.264887,23.342916,24.626968,23.649555,28.616016,23.649555,28.522930,18.997947,18.997947,118.000000

Negative values in age_start_years are strange. Verifying the amount of negative value in years bigger than

In [10]:
data[data['age_start_years'] < 0]['age_start_years'].count()/len(data)*100

0.007503001200480192

Handling these negative age data, having the following factors:\
 \
&nbsp; Really small percentage. \
&nbsp; No explanation on the cohort study\
&nbsp; Values over 1 year (less than 1 year might be considered pregnancy-detected allergies)\
\
Removing these rows.

In [11]:
data = data[data['age_start_years'] >= 0]

 \
 \
 The tests to verify allergies are done comparing the sample to a negative and a positive control. If the sample's value is lower than negative control, the value will be negative. As such, all negative values in allergies columns will be replaced by 0.

In [12]:
data.columns

Index(['subject_id', 'birth_year', 'age_start_years', 'age_end_years',
       'shellfish_start', 'shellfish_end', 'fish_start', 'fish_end',
       'milk_start', 'milk_end', 'soy_start', 'soy_end', 'egg_start',
       'egg_end', 'wheat_start', 'wheat_end', 'peanut_start', 'peanut_end',
       'sesame_start', 'sesame_end', 'treenut_start', 'treenut_end',
       'walnut_start', 'walnut_end', 'pecan_start', 'pecan_end',
       'pistach_start', 'pistach_end', 'almond_start', 'almond_end',
       'brazil_start', 'brazil_end', 'hazelnut_start', 'hazelnut_end',
       'cashew_start', 'cashew_end', 'atopic_derm_start', 'atopic_derm_end',
       'allergic_rhinitis_start', 'allergic_rhinitis_end', 'asthma_start',
       'asthma_end', 'first_asthmarx', 'last_asthmarx', 'num_asthmarx'],
      dtype='object')

In [13]:
%%writefile -a functions.py

def negative_values(df):
    '''function that replaces negative values by 0 in allergies columns'''
    
    df_copy = df.copy()
    
    allerg_list = ['shellfish', 'fish', 'milk', 'soy', 'egg', 'wheat', 'peanut', 'sesame', 'treenut',
              'walnut', 'pecan', 'pistach', 'almond', 'brazil', 'hazelnut', 'cashew', 'atopic', 'allergic']
    
    allerg_list = [c for c in df_copy.columns if c.split('_')[0] in allerg_list]
    
    df_copy[allerg_list] = df_copy[allerg_list].mask(df_copy[allerg_list]<0, other=0)
    
    return df_copy

In [14]:
%run functions.py

In [16]:
data = negative_values(data)

In [17]:
data.describe()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,treenut_start,treenut_end,walnut_start,walnut_end,pecan_start,pecan_end,pistach_start,pistach_end,almond_start,almond_end,brazil_start,brazil_end,hazelnut_start,hazelnut_end,cashew_start,cashew_end,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
count,333175.000000,333175.000000,333175.000000,333175.000000,5246.000000,1051.000000,1796.000000,527.000000,7289.000000,4580.000000,2419.000000,1431.000000,6064.000000,3293.000000,1145.000000,687.000000,8652.000000,2092.000000,766.000000,178.000000,1.000000,0.0,704.000000,166.000000,285.000000,59.000000,369.000000,82.000000,386.000000,117.000000,68.000000,19.000000,253.000000,52.000000,561.000000,121.000000,49510.000000,41727.000000,55565.000000,25326.000000,63868.000000,25463.000000,117540.000000,117540.000000,117540.000000
mean,166597.437302,2001.260872,3.942466,10.336952,8.724076,6.431159,6.628690,5.337775,3.296644,2.475121,3.960079,2.714106,3.290812,3.060378,4.548345,3.652843,5.027794,4.400450,6.135395,5.114259,3.967146,NaN,7.595179,6.082366,7.744554,6.266152,7.148128,5.549724,7.678366,5.261775,6.831179,5.093699,7.876277,5.959933,6.190359,5.293306,4.291436,5.666013,7.279995,12.930347,5.980232,12.377673,6.439626,8.943775,5.298520
std,96186.767275,6.603568,4.646190,5.623476,5.273093,4.475387,5.015358,4.190826,4.029439,3.106221,4.484231,3.301285,3.517762,3.027941,4.562716,3.801285,4.392894,3.825992,4.172892,3.862956,NaN,NaN,4.847772,4.093921,4.732286,4.022013,4.334246,3.312276,5.330696,4.128617,4.832298,4.500702,4.631870,4.206699,4.347125,3.821768,4.592371,5.016552,4.134742,4.292382,4.390803,4.895017,4.863585,5.284211,6.486858
min,1.000000,1983.000000,0.000000,1.002053,0.093087,0.169747,0.076660,0.076660,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.156057,0.243669,0.000000,0.021903,0.487337,0.487337,3.967146,NaN,0.336756,0.336756,0.914442,1.210130,0.692676,0.692676,0.303901,0.303901,1.133470,1.133470,0.774812,0.774812,0.112252,0.112252,0.000000,0.013689,0.000000,2.488706,1.002053,3.003422,1.002053,1.002053,1.000000
25%,83296.500000,1996.000000,0.021903,5.289528,3.975359,2.620123,2.235455,1.934292,0.747433,0.561259,0.809035,0.655715,1.051335,1.062286,1.078713,1.002053,1.574264,1.516085,2.765914,2.033539,3.967146,NaN,3.707734,2.762491,3.912389,2.677618,3.718001,2.923340,3.032170,2.198494,3.256674,1.826146,4.016427,2.669405,2.707734,2.335387,0.654346,1.448323,3.912389,9.591376,2.165640,8.139630,2.105407,4.298426,1.000000
50%,166596.000000,2002.000000,1.765914,10.193018,8.361396,5.305955,5.156742,3.939767,1.420945,1.200548,1.850787,1.264887,1.754962,1.785079,2.543463,1.867214,3.326489,2.980151,5.026694,4.015058,3.967146,NaN,6.328542,5.242984,6.472279,5.322382,6.064339,5.081451,6.197125,3.701574,5.244353,3.507187,6.811773,4.828200,4.985626,4.383299,2.255989,4.112252,6.721424,13.199179,4.810404,12.539357,5.023956,8.271047,3.000000
75%,249897.500000,2007.000000,7.208761,15.616701,13.078029,9.609856,10.251198,7.885010,4.295688,2.997947,5.761807,3.401780,4.090349,4.002738,6.743326,5.266256,7.241615,6.268994,8.802190,7.037645,3.967146,NaN,11.329227,8.765914,11.403149,9.277207,10.346338,7.545517,11.873374,6.806297,9.412731,5.842574,11.600274,7.778234,9.026694,7.227926,6.811773,8.929500,10.220397,16.579740,9.095140,16.843258,10.012320,13.341547,7.000000
max,333200.000000,2012.000000,17.984942,18.997947,24.298426,18.778919,22.499658,18.962355,25.431896,17.911020,24.216290,24.216290,22.160164,19.151266,22.839151,18.546201,21.524983,21.524983,22.721424,17.215606,3.967146,NaN,20.049281,17.451061,21.215606,15.383984,19.887748,15.033539,20.101300,16.542094,19.857632,18.108145,19.225188,16.678987,23.679671,17.264887,23.342916,24.626968,23.649555,28.616016,23.649555,28.522930,18.997947,18.997947,118.000000

 \
 \
Checking null values.

In [18]:
data.isnull().sum()

subject_id                      0
birth_year                      0
age_start_years                 0
age_end_years                   0
shellfish_start            327929
shellfish_end              332124
fish_start                 331379
fish_end                   332648
milk_start                 325886
milk_end                   328595
soy_start                  330756
soy_end                    331744
egg_start                  327111
egg_end                    329882
wheat_start                332030
wheat_end                  332488
peanut_start               324523
peanut_end                 331083
sesame_start               332409
sesame_end                 332997
treenut_start              333174
treenut_end                333175
walnut_start               332471
walnut_end                 333009
pecan_start                332890
pecan_end                  333116
pistach_start              332806
pistach_end                333093
almond_start               332789
almond_end                 333058
brazil_start               333107
brazil_end                 333156
hazelnut_start             332922
hazelnut_end               333123
cashew_start               332614
cashew_end                 333054
atopic_derm_start          283665
atopic_derm_end            291448
allergic_rhinitis_start    277610
allergic_rhinitis_end      307849
asthma_start               269307
asthma_end                 307712
first_asthmarx             215635
last_asthmarx              215635
num_asthmarx               215635
dtype: int64

After analysing the information given on the cohort study, there were several analysis that were not performed. \
Example: each children only has information on the  allergy that he/she has, not all the other ones.\
 \
The null values cannot be considered as value 0, as, in reality, is not known if the children does not have some level of allergy (even if it is minimal) to other food. I will consider null values as null values, as it will be easier to plot and make calculations having the non-analysed values as missing ones.\
\
\
Verifying amount of data per allergy.

In [38]:
data.notnull().sum()

subject_id                 333175
birth_year                 333175
age_start_years            333175
age_end_years              333175
shellfish_start              5246
shellfish_end                1051
fish_start                   1796
fish_end                      527
milk_start                   7289
milk_end                     4580
soy_start                    2419
soy_end                      1431
egg_start                    6064
egg_end                      3293
wheat_start                  1145
wheat_end                     687
peanut_start                 8652
peanut_end                   2092
sesame_start                  766
sesame_end                    178
nut_start                    1845
nut_end                       471
nut_c_s                    333175
nut_c_e                    333175
allerg_c_s                 333175
allerg_c_e                 333175
atopic_derm_start           49510
atopic_derm_end             41727
allergic_rhinitis_start     55565
allergic_rhinitis_end       25326
asthma_start                63868
asthma_end                  25463
first_asthmarx             117540
last_asthmarx              117540
num_asthmarx               117540
dtype: int64

There are imbalanced data, specially on dry fruits allergies, except peanut.\
All nuts will be grouped into a column called 'nut'.\
Note: It was verified that all this fruits are indeed dry fruits.\
 \
Summing allergies.

In [20]:
%%writefile -a functions.py

def joining_nuts(df):
    '''function to join the following allergies data into nut_start and nut_end
    treenut, walnut, pecan, pistach, almond, brazil, hazelnut, cashew'''
    
    nut_list = ['treenut','walnut','pecan','pistach','almond','brazil','hazelnut','cashew']
    start_list = []
    end_list = []

    df_copy = df.copy()
    
    for d in df.columns:
        if d.split('_')[0] in nut_list:
            if 'start' in d:
                start_list.append(d)
            else:
                end_list.append(d)
    
    delete_list = start_list + end_list
    
    df_copy['nut_start'] = df_copy[start_list].sum(axis=1)
    df_copy['nut_start'] = df_copy['nut_start'].mask(df_copy['nut_start']==0, other = None)
    
    df_copy['nut_end'] = df_copy[end_list].sum(axis=1)
    df_copy['nut_end'] = df_copy['nut_end'].mask(df_copy['nut_end']==0, other = None)
    
    return df_copy, delete_list

In [21]:
%run functions.py

In [22]:
data, dlt_list = joining_nuts(data)
data.head()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,treenut_start,treenut_end,walnut_start,walnut_end,pecan_start,pecan_end,pistach_start,pistach_end,almond_start,almond_end,brazil_start,brazil_end,hazelnut_start,hazelnut_end,cashew_start,cashew_end,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx,nut_start,nut_end
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0,NaN,NaN
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0,NaN,NaN
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 \
 \
Storing number of allergies within nut allergies per subject.

In [35]:
%%writefile -a functions.py

def nut_count(df):
    '''function that counts nut allergies per subject:
    treenut, walnut, pecan, pistach, almond, brazil, hazelnut, cashew'''
    
    nut_list = ['treenut','walnut','pecan','pistach','almond','brazil','hazelnut','cashew']
    
    df_copy=df.copy()

    nut_start = [d for d in df_copy.columns if d.split('_')[0] in nut_list and 'start' in d]
    nut_end = [d for d in df_copy.columns if d.split('_')[0] in nut_list and 'end' in d]

    df_copy['nut_c_s'] = df_copy[nut_start].count(axis=1)
    df_copy['nut_c_e'] = df_copy[nut_end].count(axis=1)
    
    return df_copy

Appending to functions.py

In [24]:
%run functions.py

In [25]:
data = nut_count(data)

 \
 \
Removing nut indivual allergies columns.

In [26]:
data = data.drop(dlt_list, axis=1)

 \
 \
Storing total number of allergies per subject.

In [36]:
%%writefile -a functions.py

def allergy_count(df):
    '''function that counts food allergies per subject:
    shellfish, fish, milk, soy, egg, wheat, peanut, sesame, 
    treenut, walnut, pecan, pistach, almond, brazil, hazelnut, cashew'''
    
    df_copy = df.copy()

    allerg_start = [d for d in df_copy.columns if 'start' in d][1:-4]
    allerg_end = [d for d in df_copy.columns if 'start' in d][1:-4]

    df_copy['allerg_c_s'] = df_copy[allerg_start].count(axis=1)
    df_copy['allerg_c_s'] = df_copy[['allerg_c_s','nut_c_s']].sum(axis=1)

    df_copy['allerg_c_e'] = df_copy[allerg_end].count(axis=1)
    df_copy['allerg_c_e'] = df_copy[['allerg_c_e','nut_c_e']].sum(axis=1)
    
    return df_copy

Appending to functions.py

In [28]:
%run functions.py

In [29]:
data = allergy_count(data)

In [30]:
data.head()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx,nut_start,nut_end,nut_c_s,nut_c_e,allerg_c_s,allerg_c_e
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0,NaN,NaN,0,0,0,0
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0,NaN,NaN,0,0,1,1
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

 \
 \
Reorganizing data columns.

In [31]:
data.columns

Index(['subject_id', 'birth_year', 'age_start_years', 'age_end_years',
       'shellfish_start', 'shellfish_end', 'fish_start', 'fish_end',
       'milk_start', 'milk_end', 'soy_start', 'soy_end', 'egg_start',
       'egg_end', 'wheat_start', 'wheat_end', 'peanut_start', 'peanut_end',
       'sesame_start', 'sesame_end', 'atopic_derm_start', 'atopic_derm_end',
       'allergic_rhinitis_start', 'allergic_rhinitis_end', 'asthma_start',
       'asthma_end', 'first_asthmarx', 'last_asthmarx', 'num_asthmarx',
       'nut_start', 'nut_end', 'nut_c_s', 'nut_c_e', 'allerg_c_s',
       'allerg_c_e'],
      dtype='object')

In [32]:
data = data[['subject_id', 'birth_year', 'age_start_years', 'age_end_years',
       'shellfish_start', 'shellfish_end', 'fish_start', 'fish_end',
       'milk_start', 'milk_end', 'soy_start', 'soy_end', 'egg_start',
       'egg_end', 'wheat_start', 'wheat_end', 'peanut_start', 'peanut_end',
       'sesame_start', 'sesame_end', 'nut_start', 'nut_end', 'nut_c_s', 'nut_c_e',
       'allerg_c_s', 'allerg_c_e', 'atopic_derm_start', 'atopic_derm_end',
       'allergic_rhinitis_start', 'allergic_rhinitis_end', 'asthma_start',
       'asthma_end', 'first_asthmarx', 'last_asthmarx', 'num_asthmarx',
       ]]

In [33]:
data.head()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,nut_start,nut_end,nut_c_s,nut_c_e,allerg_c_s,allerg_c_e,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Store data_clean to file.

In [34]:
data.to_csv('../01_data/clean_data.csv')